<div style="" class="gr9UZgw23K ">
      
    
      
      
    <div
      uid="gr9UZgw23K"
       style="--b:solid;--bc:#121212;--bw:0px;--shadow:none;--d:block;--d-mobile:block;--d-tablet:block;--op:100%;--radius:var(--g-radius-none);--mb:0px;--ta:left;--bgc:transparent;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll">
     
     <ul
        class="gp-inline-flex gp-flex-col"
        style="--rg:16px"
        >
        
    <li
      class="gp-flex gp-w-full gp-items-center gp-icon-list-item"
      style="--cg:var(--g-s-l)"
    >
    <div
      pageContext
      style=""
      class="g-rty0551w gp-relative gp-flex gp-flex-col"
    >
      <div
    
    role="presentation"
    class="gp-group/image gvRmVXLX0w"
    style="--b:solid;--bc:#121212;--bw:0px;--shadow:none;--d:block;--d-mobile:block;--d-tablet:block;--op:100%;--radius:var(--g-radius-none);--mb:0px;--ta:left"
    >
      <div
        class="pointer-events-auto h-full"
        
        class="gp-h-full gp-w-full"
        style="--shadow:none;border-radius:inherit;--ta:left"
      >
        
  {%- liquid
    assign isFetchPriorityHigh = 'false'
    
  -%}
  {%- if isFetchPriorityHigh == 'true' -%}
    <img
      quality="70" title="Image Title"
      
      draggable="false"
      class="!gp-inline gp-h-full gp-max-w-full gp-flex"
      src="https://ucarecdn.com/660fc789-2c2e-4e2e-b528-a17bf56d4edf/-/format/auto/-/preview/100x100/-/quality/lighter/" width="43" height="42" alt="Alt Image"
      fetchpriority="high"
      quality-type={}
      quality-percent={}
      data-sizes="auto"
      sizes="100vw"
      style="--aspect:43/42;--aspect-tablet:43/42;--aspect-mobile:43/42;--objf:cover;--w:28px;--w-tablet:28px;--w-mobile:28px;--h:auto;--h-tablet:auto;--h-mobile:auto;--bs:none;--bw:0px;--bc:transparent;--radius:var(--g-radius-none);border-radius:inherit"
    />
  {%- else -%}
    <img
      quality="70" title="Image Title"
      
      draggable="false"
      class="!gp-inline gp-h-full gp-max-w-full gp-flex gp_lazyload"
      data-src="https://ucarecdn.com/660fc789-2c2e-4e2e-b528-a17bf56d4edf/-/format/auto/-/preview/100x100/-/quality/lighter/" data-srcset="https://ucarecdn.com/660fc789-2c2e-4e2e-b528-a17bf56d4edf/-/format/auto/-/preview/100x100/-/quality/lighter/ 768w,https://ucarecdn.com/660fc789-2c2e-4e2e-b528-a17bf56d4edf/-/format/auto/-/preview/100x100/-/quality/lighter/ 1024w,https://ucarecdn.com/660fc789-2c2e-4e2e-b528-a17bf56d4edf/-/format/auto/-/preview/100x100/-/quality/lighter/ 1440w" src="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAEAAAABCAYAAAAfFcSJAAAAAXNSR0IArs4c6QAAAA1JREFUGFdj+Pr1638ACaED3/nOThIAAAAASUVORK5CYII=" width="43" height="42" alt="Alt Image"
      quality-type={}
      quality-percent={}
      data-sizes="auto"
      sizes="100vw"
      style="--aspect:43/42;--aspect-tablet:43/42;--aspect-mobile:43/42;--objf:cover;--w:28px;--w-tablet:28px;--w-mobile:28px;--h:auto;--h-tablet:auto;--h-mobile:auto;--bs:none;--bw:0px;--bc:transparent;--radius:var(--g-radius-none);border-radius:inherit"
    />
  {%- endif -%}
  
      </div>
  </div>
    </div><div
      pageContext
      style=""
      class="gjPfbxE-2Y gp-relative gp-flex gp-flex-col gp-w-full"
    >
      
    <div
      parentTag="Col"
        class="g4tlLurW9v "
        style="--ta:left;--b:solid;--bc:#121212;--bw:0px;--shadow:none;--d:block;--d-mobile:block;--d-tablet:block;--op:100%;--radius:var(--g-radius-none)"
      >
      <div class="gp-flex" style="--jc:left">
        <div
         
          data-gp-text
          class="[&_p]:gp-inline [&_p]:after:gp-whitespace-pre-wrap [&_p]:after:gp-content-['\A'] gp-text"
          style="--w:100%;--w-tablet:100%;--w-mobile:100%;--ta:left;--line-clamp:unset;--line-clamp-tablet:unset;--line-clamp-mobile:unset;--fs:normal;--ff:var(--g-font-Poppins, 'Poppins'), var(--g-font-body, body);--weight:400;--ls:normal;--lh:150%;--size:16px;--size-tablet:16px;--size-mobile:14px;--c:#343434;word-break:break-word;overflow:hidden"
        ><p>Authentic product</p></div>
      </div>
    </div>
    </div>
  </li>
    <li
      class="gp-flex gp-w-full gp-items-center gp-icon-list-item"
      style="--cg:var(--g-s-l)"
    >
    <div
      pageContext
      style=""
      class="gv9d3Zr0fI gp-relative gp-flex gp-flex-col"
    >
      <div
    
    role="presentation"
    class="gp-group/image gHPhzKvOP-"
    style="--b:solid;--bc:#121212;--bw:0px;--shadow:none;--d:block;--d-mobile:block;--d-tablet:block;--op:100%;--radius:var(--g-radius-none);--mb:0px;--ta:left"
    >
      <div
        class="pointer-events-auto h-full"
        
        class="gp-h-full gp-w-full"
        style="--shadow:none;border-radius:inherit;--ta:left"
      >
        
  {%- liquid
    assign isFetchPriorityHigh = 'false'
    
  -%}
  {%- if isFetchPriorityHigh == 'true' -%}
    <img
      quality="70" title="Image Title"
      
      draggable="false"
      class="!gp-inline gp-h-full gp-max-w-full gp-flex"
      src="https://ucarecdn.com/e613f26a-dd0d-45bd-950e-461324e76a56/-/format/auto/-/preview/100x100/-/quality/lighter/" width="43" height="42" alt="Alt Image"
      fetchpriority="high"
      quality-type={}
      quality-percent={}
      data-sizes="auto"
      sizes="100vw"
      style="--aspect:43/42;--aspect-tablet:43/42;--aspect-mobile:43/42;--objf:cover;--w:28px;--w-tablet:28px;--w-mobile:28px;--h:auto;--h-tablet:auto;--h-mobile:auto;--bs:none;--bw:0px;--bc:transparent;--radius:var(--g-radius-none);border-radius:inherit"
    />
  {%- else -%}
    <img
      quality="70" title="Image Title"
      
      draggable="false"
      class="!gp-inline gp-h-full gp-max-w-full gp-flex gp_lazyload"
      data-src="https://ucarecdn.com/e613f26a-dd0d-45bd-950e-461324e76a56/-/format/auto/-/preview/100x100/-/quality/lighter/" data-srcset="https://ucarecdn.com/e613f26a-dd0d-45bd-950e-461324e76a56/-/format/auto/-/preview/100x100/-/quality/lighter/ 768w,https://ucarecdn.com/e613f26a-dd0d-45bd-950e-461324e76a56/-/format/auto/-/preview/100x100/-/quality/lighter/ 1024w,https://ucarecdn.com/e613f26a-dd0d-45bd-950e-461324e76a56/-/format/auto/-/preview/100x100/-/quality/lighter/ 1440w" src="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAEAAAABCAYAAAAfFcSJAAAAAXNSR0IArs4c6QAAAA1JREFUGFdj+Pr1638ACaED3/nOThIAAAAASUVORK5CYII=" width="43" height="42" alt="Alt Image"
      quality-type={}
      quality-percent={}
      data-sizes="auto"
      sizes="100vw"
      style="--aspect:43/42;--aspect-tablet:43/42;--aspect-mobile:43/42;--objf:cover;--w:28px;--w-tablet:28px;--w-mobile:28px;--h:auto;--h-tablet:auto;--h-mobile:auto;--bs:none;--bw:0px;--bc:transparent;--radius:var(--g-radius-none);border-radius:inherit"
    />
  {%- endif -%}
  
      </div>
  </div>
    </div><div
      pageContext
      style=""
      class="g0jTYorOxM gp-relative gp-flex gp-flex-col gp-w-full"
    >
      
    <div
      parentTag="Col"
        class="gq87NbGhra "
        style="--ta:left;--b:solid;--bc:#121212;--bw:0px;--shadow:none;--d:block;--d-mobile:block;--d-tablet:block;--op:100%;--radius:var(--g-radius-none)"
      >
      <div class="gp-flex" style="--jc:left">
        <div
         
          data-gp-text
          class="[&_p]:gp-inline [&_p]:after:gp-whitespace-pre-wrap [&_p]:after:gp-content-['\A'] gp-text"
          style="--w:100%;--w-tablet:100%;--w-mobile:100%;--ta:left;--line-clamp:unset;--line-clamp-tablet:unset;--line-clamp-mobile:unset;--fs:normal;--ff:var(--g-font-Poppins, 'Poppins'), var(--g-font-body, body);--weight:400;--ls:normal;--lh:150%;--size:16px;--size-tablet:16px;--size-mobile:14px;--c:#343434;word-break:break-word;overflow:hidden"
        ><p>30-day free trial</p></div>
      </div>
    </div>
    </div>
  </li>
    <li
      class="gp-flex gp-w-full gp-items-center gp-icon-list-item"
      style="--cg:var(--g-s-l)"
    >
    <div
      pageContext
      style=""
      class="gkM1Io4uaK gp-relative gp-flex gp-flex-col"
    >
      <div
    
    role="presentation"
    class="gp-group/image gaG68s849X"
    style="--b:solid;--bc:#121212;--bw:0px;--shadow:none;--d:block;--d-mobile:block;--d-tablet:block;--op:100%;--radius:var(--g-radius-none);--mb:0px;--ta:left"
    >
      <div
        class="pointer-events-auto h-full"
        
        class="gp-h-full gp-w-full"
        style="--shadow:none;border-radius:inherit;--ta:left"
      >
        
  {%- liquid
    assign isFetchPriorityHigh = 'false'
    
  -%}
  {%- if isFetchPriorityHigh == 'true' -%}
    <img
      quality="70" title="Image Title"
      
      draggable="false"
      class="!gp-inline gp-h-full gp-max-w-full gp-flex"
      src="https://ucarecdn.com/9cb6e009-5749-4c1d-8ac7-005a11cdc0bc/-/format/auto/-/preview/100x100/-/quality/lighter/" width="37" height="42" alt="Alt Image"
      fetchpriority="high"
      quality-type={}
      quality-percent={}
      data-sizes="auto"
      sizes="100vw"
      style="--aspect:37/42;--aspect-tablet:37/42;--aspect-mobile:37/42;--objf:cover;--w:28px;--w-tablet:28px;--w-mobile:28px;--h:auto;--h-tablet:auto;--h-mobile:auto;--bs:none;--bw:0px;--bc:transparent;--radius:var(--g-radius-none);border-radius:inherit"
    />
  {%- else -%}
    <img
      quality="70" title="Image Title"
      
      draggable="false"
      class="!gp-inline gp-h-full gp-max-w-full gp-flex gp_lazyload"
      data-src="https://ucarecdn.com/9cb6e009-5749-4c1d-8ac7-005a11cdc0bc/-/format/auto/-/preview/100x100/-/quality/lighter/" data-srcset="https://ucarecdn.com/9cb6e009-5749-4c1d-8ac7-005a11cdc0bc/-/format/auto/-/preview/100x100/-/quality/lighter/ 768w,https://ucarecdn.com/9cb6e009-5749-4c1d-8ac7-005a11cdc0bc/-/format/auto/-/preview/100x100/-/quality/lighter/ 1024w,https://ucarecdn.com/9cb6e009-5749-4c1d-8ac7-005a11cdc0bc/-/format/auto/-/preview/100x100/-/quality/lighter/ 1440w" src="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAEAAAABCAYAAAAfFcSJAAAAAXNSR0IArs4c6QAAAA1JREFUGFdj+Pr1638ACaED3/nOThIAAAAASUVORK5CYII=" width="37" height="42" alt="Alt Image"
      quality-type={}
      quality-percent={}
      data-sizes="auto"
      sizes="100vw"
      style="--aspect:37/42;--aspect-tablet:37/42;--aspect-mobile:37/42;--objf:cover;--w:28px;--w-tablet:28px;--w-mobile:28px;--h:auto;--h-tablet:auto;--h-mobile:auto;--bs:none;--bw:0px;--bc:transparent;--radius:var(--g-radius-none);border-radius:inherit"
    />
  {%- endif -%}
  
      </div>
  </div>
    </div><div
      pageContext
      style=""
      class="gV8feanYbl gp-relative gp-flex gp-flex-col gp-w-full"
    >
      
    <div
      parentTag="Col"
        class="gTUyzE5hng "
        style="--ta:left;--b:solid;--bc:#121212;--bw:0px;--shadow:none;--d:block;--d-mobile:block;--d-tablet:block;--op:100%;--radius:var(--g-radius-none)"
      >
      <div class="gp-flex" style="--jc:left">
        <div
         
          data-gp-text
          class="[&_p]:gp-inline [&_p]:after:gp-whitespace-pre-wrap [&_p]:after:gp-content-['\A'] gp-text"
          style="--w:100%;--w-tablet:100%;--w-mobile:100%;--ta:left;--line-clamp:unset;--line-clamp-tablet:unset;--line-clamp-mobile:unset;--fs:normal;--ff:var(--g-font-Poppins, 'Poppins'), var(--g-font-body, body);--weight:400;--ls:normal;--lh:150%;--size:16px;--size-tablet:16px;--size-mobile:14px;--c:#343434;word-break:break-word;overflow:hidden"
        ><p>1 year warranty</p></div>
      </div>
    </div>
    </div>
  </li>
    <li
      class="gp-flex gp-w-full gp-items-center gp-icon-list-item"
      style="--cg:var(--g-s-l)"
    >
    <div
      pageContext
      style=""
      class="gWah0Iid5R gp-relative gp-flex gp-flex-col"
    >
      <div
    
    role="presentation"
    class="gp-group/image gNX4xJ3EBS"
    style="--b:solid;--bc:#121212;--bw:0px;--shadow:none;--d:block;--d-mobile:block;--d-tablet:block;--op:100%;--radius:var(--g-radius-none);--mb:0px;--ta:left"
    >
      <div
        class="pointer-events-auto h-full"
        
        class="gp-h-full gp-w-full"
        style="--shadow:none;border-radius:inherit;--ta:left"
      >
        
  {%- liquid
    assign isFetchPriorityHigh = 'false'
    
  -%}
  {%- if isFetchPriorityHigh == 'true' -%}
    <img
      quality="70" title="Image Title"
      
      draggable="false"
      class="!gp-inline gp-h-full gp-max-w-full gp-flex"
      src="https://ucarecdn.com/e98536e9-6c68-4952-92fe-3595983e25b1/-/format/auto/-/preview/100x100/-/quality/lighter/" width="43" height="42" alt="Alt Image"
      fetchpriority="high"
      quality-type={}
      quality-percent={}
      data-sizes="auto"
      sizes="100vw"
      style="--aspect:43/42;--aspect-tablet:43/42;--aspect-mobile:43/42;--objf:cover;--w:28px;--w-tablet:28px;--w-mobile:28px;--h:auto;--h-tablet:auto;--h-mobile:auto;--bs:none;--bw:0px;--bc:transparent;--radius:var(--g-radius-none);border-radius:inherit"
    />
  {%- else -%}
    <img
      quality="70" title="Image Title"
      
      draggable="false"
      class="!gp-inline gp-h-full gp-max-w-full gp-flex gp_lazyload"
      data-src="https://ucarecdn.com/e98536e9-6c68-4952-92fe-3595983e25b1/-/format/auto/-/preview/100x100/-/quality/lighter/" data-srcset="https://ucarecdn.com/e98536e9-6c68-4952-92fe-3595983e25b1/-/format/auto/-/preview/100x100/-/quality/lighter/ 768w,https://ucarecdn.com/e98536e9-6c68-4952-92fe-3595983e25b1/-/format/auto/-/preview/100x100/-/quality/lighter/ 1024w,https://ucarecdn.com/e98536e9-6c68-4952-92fe-3595983e25b1/-/format/auto/-/preview/100x100/-/quality/lighter/ 1440w" src="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAEAAAABCAYAAAAfFcSJAAAAAXNSR0IArs4c6QAAAA1JREFUGFdj+Pr1638ACaED3/nOThIAAAAASUVORK5CYII=" width="43" height="42" alt="Alt Image"
      quality-type={}
      quality-percent={}
      data-sizes="auto"
      sizes="100vw"
      style="--aspect:43/42;--aspect-tablet:43/42;--aspect-mobile:43/42;--objf:cover;--w:28px;--w-tablet:28px;--w-mobile:28px;--h:auto;--h-tablet:auto;--h-mobile:auto;--bs:none;--bw:0px;--bc:transparent;--radius:var(--g-radius-none);border-radius:inherit"
    />
  {%- endif -%}
  
      </div>
  </div>
    </div><div
      pageContext
      style=""
      class="g-dFLOkb6M gp-relative gp-flex gp-flex-col gp-w-full"
    >
      
    <div
      parentTag="Col"
        class="glnwr9SHCx "
        style="--ta:left;--b:solid;--bc:#121212;--bw:0px;--shadow:none;--d:block;--d-mobile:block;--d-tablet:block;--op:100%;--radius:var(--g-radius-none)"
      >
      <div class="gp-flex" style="--jc:left">
        <div
         
          data-gp-text
          class="[&_p]:gp-inline [&_p]:after:gp-whitespace-pre-wrap [&_p]:after:gp-content-['\A'] gp-text"
          style="--w:100%;--w-tablet:100%;--w-mobile:100%;--ta:left;--line-clamp:unset;--line-clamp-tablet:unset;--line-clamp-mobile:unset;--fs:normal;--ff:var(--g-font-Poppins, 'Poppins'), var(--g-font-body, body);--weight:400;--ls:normal;--lh:150%;--size:16px;--size-tablet:16px;--size-mobile:14px;--c:#343434;word-break:break-word;overflow:hidden"
        ><p>Free shipping worldwide</p></div>
      </div>
    </div>
    </div>
  </li>
    <li
      class="gp-flex gp-w-full gp-items-center gp-icon-list-item"
      style="--cg:var(--g-s-l)"
    >
    <div
      pageContext
      style=""
      class="g_x-wqN68z gp-relative gp-flex gp-flex-col"
    >
      <div
    
    role="presentation"
    class="gp-group/image gRNQxoHB9V"
    style="--b:solid;--bc:#121212;--bw:0px;--shadow:none;--d:block;--d-mobile:block;--d-tablet:block;--op:100%;--radius:var(--g-radius-none);--mb:0px;--ta:left"
    >
      <div
        class="pointer-events-auto h-full"
        
        class="gp-h-full gp-w-full"
        style="--shadow:none;border-radius:inherit;--ta:left"
      >
        
  {%- liquid
    assign isFetchPriorityHigh = 'false'
    
  -%}
  {%- if isFetchPriorityHigh == 'true' -%}
    <img
      quality="70" title="Image Title"
      
      draggable="false"
      class="!gp-inline gp-h-full gp-max-w-full gp-flex"
      src="https://ucarecdn.com/77cb07c1-8a02-4ea3-98c9-e9b5f1d87892/-/format/auto/-/preview/100x100/-/quality/lighter/" width="43" height="42" alt="Alt Image"
      fetchpriority="high"
      quality-type={}
      quality-percent={}
      data-sizes="auto"
      sizes="100vw"
      style="--aspect:43/42;--aspect-tablet:43/42;--aspect-mobile:43/42;--objf:cover;--w:28px;--w-tablet:28px;--w-mobile:28px;--h:auto;--h-tablet:auto;--h-mobile:auto;--bs:none;--bw:0px;--bc:transparent;--radius:var(--g-radius-none);border-radius:inherit"
    />
  {%- else -%}
    <img
      quality="70" title="Image Title"
      
      draggable="false"
      class="!gp-inline gp-h-full gp-max-w-full gp-flex gp_lazyload"
      data-src="https://ucarecdn.com/77cb07c1-8a02-4ea3-98c9-e9b5f1d87892/-/format/auto/-/preview/100x100/-/quality/lighter/" data-srcset="https://ucarecdn.com/77cb07c1-8a02-4ea3-98c9-e9b5f1d87892/-/format/auto/-/preview/100x100/-/quality/lighter/ 768w,https://ucarecdn.com/77cb07c1-8a02-4ea3-98c9-e9b5f1d87892/-/format/auto/-/preview/100x100/-/quality/lighter/ 1024w,https://ucarecdn.com/77cb07c1-8a02-4ea3-98c9-e9b5f1d87892/-/format/auto/-/preview/100x100/-/quality/lighter/ 1440w" src="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAEAAAABCAYAAAAfFcSJAAAAAXNSR0IArs4c6QAAAA1JREFUGFdj+Pr1638ACaED3/nOThIAAAAASUVORK5CYII=" width="43" height="42" alt="Alt Image"
      quality-type={}
      quality-percent={}
      data-sizes="auto"
      sizes="100vw"
      style="--aspect:43/42;--aspect-tablet:43/42;--aspect-mobile:43/42;--objf:cover;--w:28px;--w-tablet:28px;--w-mobile:28px;--h:auto;--h-tablet:auto;--h-mobile:auto;--bs:none;--bw:0px;--bc:transparent;--radius:var(--g-radius-none);border-radius:inherit"
    />
  {%- endif -%}
  
      </div>
  </div>
    </div><div
      pageContext
      style=""
      class="gs6gbXOjwk gp-relative gp-flex gp-flex-col gp-w-full"
    >
      
    <div
      parentTag="Col"
        class="gKyAkurQ9O "
        style="--ta:left;--b:solid;--bc:#121212;--bw:0px;--shadow:none;--d:block;--d-mobile:block;--d-tablet:block;--op:100%;--radius:var(--g-radius-none)"
      >
      <div class="gp-flex" style="--jc:left">
        <div
         
          data-gp-text
          class="[&_p]:gp-inline [&_p]:after:gp-whitespace-pre-wrap [&_p]:after:gp-content-['\A'] gp-text"
          style="--w:100%;--w-tablet:100%;--w-mobile:100%;--ta:left;--line-clamp:unset;--line-clamp-tablet:unset;--line-clamp-mobile:unset;--fs:normal;--ff:var(--g-font-Poppins, 'Poppins'), var(--g-font-body, body);--weight:400;--ls:normal;--lh:150%;--size:16px;--size-tablet:16px;--size-mobile:14px;--c:#343434;word-break:break-word;overflow:hidden"
        ><p>Money-back guarantee</p></div>
      </div>
    </div>
    </div>
  </li>
      </ul>
  </div>
  
      </div>